*.sh
# pycache
__pycache__/
fastvpinns.egg-info
*.pyc

# tests/test_dump
test_dump/

# build
build/

# dist
dist/

# docs build
docs/_build/

# add vtk and mesh files
*.vtk
*.msh

# Html
htmlcov/

fastvpinns.egg-info/

#ignore output files
examples/**/output/
examples/**/output_*
examples/**/__pycache__/

output/*


# pytest 
*.vtk
*.msh
sensor_points.png
.egg-info/

#result files
# examples/**/*.png # as the README.md uses png image files
examples/**/sensor_points.png

# Optuna files
*.sqlite3
*.db

# virtual env
bin/
lib/
lib64/
include/
share/
etc/

# egg-info
*.egg-info
*.egg-info/

pyte

# DS_Store
.DS_Store

#.benchmarks
.benchmarks/

# .pytest_cache
.pytest_cache/

pyvenv.cfg

# Any png files within the examples directory
examples/**/*.png

# remove all folders which has output in their name
output/

results.png
lib64
